<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{navbar}}
    <title>SISPRO | {{empresa}}</title>
</head>
<body>
{{menu}}
</br>
<div class="container">
    <h4 style="text-align: center;">PLANOS :: LISTA</h4>
    <div class="card" style="padding: 5px;">
        <div class="card-body">
            <table class="display" id="tabela" style="width: 100%;">
                <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Download</th>
                    <th>Upload</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{tabela}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var id;
    var tabela = $('#tabela').DataTable({
        dom: 'Bfrtip',
        responsive: false,
        paging: true,
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json"
        }
    });

    function excluir(id){
        $.ajax({
            url: "/planos/excluir",
            type: "POST",
            data: {
                id : id
            }
        }).done(function (data) {
            if(data == true){
                tabela.ajax.reload();
                Swal.fire({
                    icon: "success",
                    title: "Plano excluído com sucesso!"
                });
            }else{
                Swal.fire({
                    icon: "error",
                    title: "Erro ao excluir plano!",
                    text: "Consulte o log para mais informações"
                });
            }
            console.log(data);
        }).fail(function (data) {
            console.log(data);
            Swal.fire({
                icon: "error",
                title: "Erro ao excluir plano!",
                text: "Consulte o log para mais informações"
            });
        });
    }

    function salvar(){
        $.ajax({
            url: "/planos/cadastrar",
            type: "POST",
            data: {
                nome : $("#nome").val(),
                download : $("#download").val(),
                upload : $("#upload").val(),
                valor : $("#valor").val()
            }
        }).done(function (data) {
            if(data == true){
                tabela.ajax.reload();
                Swal.fire({
                    icon: "success",
                    title: "Plano cadastrado com sucesso!"
                });
            }else{
                Swal.fire({
                    icon: "error",
                    title: "Erro ao cadastrar plano!",
                    text: "Consulte o log para mais informações"
                });
            }
            console.log(data);
        }).fail(function (data) {
            console.log(data);
            Swal.fire({
                icon: "error",
                title: "Erro ao cadastrar plano!",
                text: "Consulte o log para mais informações"
            });
        });
        $("#dialogNovo").dialog("close");
    }

    $(document).ready(function(){
        $("#dialogNovo").dialog({
            autoOpen: false,
            width: 800,
            modal: true,
            show: {
                effect: "fade",
                duration: 500
            },
            hide: {
                effect: "fade",
                duration: 500
            },
            buttons:{
                "Cancelar": function(){
                    $(this).dialog("close");
                },
                "Salvar": function(){
                    salvar();
                }
            }
        });
    });
</script>
</body>
</html>