<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{navbar}}
    <title>SISPRO | {{empresa}}</title>
</head>
<body>
{{menu}}
</br>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            FATURAS EM ATRASO - <span style="color: red; font-weight: bold;">R$ {{valorTotal}}</span>
        </div>
        <div class="card-body">
            <table class="display table table-striped" id="tabela" style="width: 100%;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Vencimento</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                </tr>
                </thead>
                <tbody>{{tabela}}</tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('#tabela').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        paging: false,
        "aaSorting": [
            [1, "asc"]
        ],
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json"
        }
    });
</script>
</body>
</html>