<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{navbar}}
    <title>SISPRO | {{empresa}}</title>
    <style>
        .fild{
            border-bottom: 2px solid #DCDCDC;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .row{
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
{{menu}}
</br>
<div class="container">
    <h4 style="text-align: center;">SERVIDOR :: DADOS</h4>
    <form autocomplete="off" method="post" action="/servidor/alterar">
        <input type="hidden" id="id" value="{{id}}">
            <div class="card">
                <div class="card-content p-5">
                    <fieldset class="fild">
                        Acesso Cadastro
                    </fieldset>
                    <div class="row mb-2">
                        <label class="cell-sm-2">IP do MK</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{ip}}" name="ipMK" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Nome</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{nome}}" name="nome" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Max. Clientes</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{maxClientes}}" name=maxClientes data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Megas Instalados</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{megas}}" name="megas" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <br/>
                    <fieldset class="fild">
                        Acesso Radius
                    </fieldset>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Secret</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{secret}}" name="secretRadius" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <br/>
                    <fieldset class="fild">
                        Acesso SNMP
                    </fieldset>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Community</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{community}}" name="community" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <br/>
                    <fieldset class="fild">
                        Acesso SSH
                    </fieldset>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Porta</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{portaSSH}}" name="portaSSH" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Senha</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{senha}}" name="senhaSSH" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <br/>
                    <fieldset class="fild">
                        Endereço do Servidor
                    </fieldset>
                    <div class="row mb-2">
                        <label class="cell-sm-2">CEP</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{cep}}" name="cep" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Endereço</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{endereco}}" name="endereco" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Número</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{numero}}" name="numero" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Bairro</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{bairro}}" name="bairro" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Complemento</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{complemento}}" name="complemento" data-role="input" class="input-small">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Cidade</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{cidade}}" name="cidade" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Estado</label>
                        <div class="cell-sm-10">
                            <input type="text" value="{{estado}}" name="estado" data-role="input" class="input-small" required>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="button primary">Alterar</button>
                </div>
            </div>
    </form>
</div>
</body>
</html>