<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{navbar}}
    <title>SISPRO | {{empresa}}</title>
    <style>
        .fild{
            border-bottom: 2px solid #DCDCDC;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .row{
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
{{menu}}
</br>
<div class="container">
    <h4 style="text-align: center;">TÍTULOS :: CADASTRAR</h4>
    <form autocomplete="off" method="post" action="/ficha/cadastrar/titulos">
            <div class="card" style="width: 800px;">
                <div class="card-content p-5">
                    <fieldset class="fild">
                        Dados
                    </fieldset>
                    <div class="row mb-2">
                        <label class="cell-sm-3" style="text-align: right;">Cliente</label>
                        <div class="cell-sm-9">
                            <select data-role="select" name="cliente" id="cliente" data-filter="true" class="input-small">{{clientes}}</select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-3" style="text-align: right;">Data de Vencimento</label>
                        <div class="cell-sm-9">
                            <input type="date" name="dataVencimento" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-3" style="text-align: right;">Quantidade de Parcelas</label>
                        <div class="cell-sm-9">
                            <select data-role="select" class="input-small" data-filter="false" name="quantidadeParcelas">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-3" style="text-align: right;">Tipo</label>
                        <div class="cell-sm-9">
                            <select data-role="select" class="input-small" data-filter="false" name="tipo">
                                <option>MENSALIDADE</option>
                                <option>SERVIÇOS</option>
                                <option>PRODUTOS</option>
                                <option>OUTROS</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="cell-sm-3" style="text-align: right;">Valor</label>
                        <div class="cell-sm-9">
                            <input type="text" name="valor" data-role="input" class="input-small" placeholder="R$ 00,00" required>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="button primary">Cadastrar</button>
                </div>
            </div>
    </form>
</div>
</body>
</html>